:root {
  --primary-color-text: black;
  --secondary-color-text: #c3a15a;
  --fountain-title: 4rem;
  --fountain-subtitle: 2rem;
  --founain-boldfont: bold;
  --font-size: 4 rem;
  --primary-color-menu: #3898db;
}
